{% extends 'ProbesysCmsBundle::admin.html.twig' %}

{% block headline %}Post edit{% endblock headline %}

{% block content %}
<form action="{{ path('admin_post_create') }}" method="post" {{ form_enctype(edit_form) }}>
    <div class="span8">
        {{ form_errors(edit_form) }}

        {{ form_row(edit_form.post_title) }}

        {{ form_row(edit_form.post_content) }}
    </div>
    <div class="span4">
        <div class="well">

            <h2>Publish</h2>

            <div>
                <a href="#" class="btn">Preview</a>
                <a href="#" class="btn">Save Draft</a>
                <a href="{{ path('admin_post_delete', {id: entity.id}) }}" class="btn btn-danger">Trash</a>
                <button type="submit" class="btn btn-primary">{{ 'publish'|trans }}</button>
                <div>
                    State : {{ entity.postStatus }}
                    {{ form_row(edit_form.post_status) }}
                </div>
                {{ form_row(edit_form.post_date) }}
            </div>
        </div>

        {{ form_rest(edit_form) }}

        <div class="well">
            <h2>Categories</h2>
            All / Most used
        </div>

        <div class="well">
            <h2>Tags</h2>
        </div>
    </div>
</form>
{% endblock content %}
