{% extends 'ProbesysCmsBundle::admin.html.twig' %}

{% block headline %}
Post list <a href="{{ path('admin_post_new') }}" class="btn">New</a>
{% endblock headline %}

{% block content %}
<div class="span10">
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Catégory</th>
                <th>Key words</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>
                    <strong><a href="{{ path('show', { 'id': entity.id }) }}">{{ entity.posttitle }}</a> ( {{ entity.poststatus }} )</strong>
                    <div>
                        <a href="{{ path('admin_post_edit', { 'id': entity.id }) }}">edit</a>
                        <a href="{{ path('admin_post_delete', { 'id': entity.id }) }}">delete</a>
                    </div>
                </td>
                <td>Donovan</td>
                <td>All</td>
                <td>All</td>
                <td>Last modified : {% if entity.postdate %}{{ entity.postmodified|date('d/m/Y') }}{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock content %}
