{% extends 'ProbesysCmsBundle::admin.html.twig' %}

{% block headline %}Page edit{% endblock headline %}

{% block content %}
<form action="{{ path('admin_page_update', {id: post.id}) }}" method="post" {{ form_enctype(edit_form) }}>
    <div class="row">
        <div class="span7">
            {{ form_errors(edit_form) }}
            {{ form_row(edit_form.postTitle) }}
            {{ form_row(edit_form.postContent) }}
        </div>
        <div class="span3">
            <button type="submit" class="btn btn-block" name="save">Save Draft</button>
            <a href="{{ path('page_show', {id: post.id}) }}" class="btn btn-block">Preview</a>
            <button type="submit" name="action" value="trash" class="btn btn-danger btn-block">{{ 'trash'|trans }}</button>
            <button type="submit" name="action" value="publish" class="btn btn-primary btn-block">{{ 'publish'|trans }}</button>
            <h2 data-toggle="collapse" data-target="#publish">Publish</h2>
            <div id="publish" clas="collapse in">
                State : {{ post.postStatus }}
                {{ form_row(edit_form.postStatus) }}
                {{ form_row(edit_form.postDate) }}
            </div>
            <h2 data-toggle="collapse" data-target="#page-attributes">Page attributes</h2>
            <div id="page-attributes" clas="collapse in">
                {{ form_row(edit_form.postParent) }}
            </div>
            {{ form_rest(edit_form) }}
        </div>
    </div>
</form>
{% endblock content %}
