{% extends 'ProbesysCmsBundle::admin.html.twig' %}

{% block headline %}
Page list <a href="{{ path('admin_page_new') }}" class="btn">New</a>
{% endblock headline %}

{% block content %}
<div class="span10">
    <table class="table">
        <thead>
            <tr>
                <th>{{ 'post.title'|trans }}</th>
                <th>{{ 'post.author'|trans }}</th>
                <th>Catégory</th>
                <th>Key words</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td>
                    <strong><a href="{{ path('page_show', { 'id': post.id }) }}">{{ post.posttitle }}</a> ( {{ post.poststatus }} )</strong>
                    <div>
                        <a href="{{ path('admin_page_edit', { 'id': post.id }) }}">edit</a>
                        <a href="{{ path('admin_page_delete', { 'id': post.id }) }}">delete</a>
                    </div>
                </td>
                <td>Donovan</td>
                <td>All</td>
                <td>All</td>
                <td>Last modified : {% if post.postdate %}{{ post.postmodified|date('d/m/Y') }}{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock content %}
