{% extends 'ProbesysCmsBundle::admin.html.twig' %}

{% block headline %}
Page list <a href="{{ path('admin_page_new') }}" class="btn">New</a>
{% endblock headline %}

{% block content %}

{% if posts %}

<div>
    <a href="#">All (X)</a> | <a href="#">Published (X)</a> | <a href="#">Trash (X)</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th><a href="#">{{ 'post.title'|trans }}</a></th>
            <th><a href="#">{{ 'post.author'|trans }}</a></th>
            <th><a href="#">Date</a></th>
        </tr>
    </thead>
    <tbody>
    {% for post in posts %}
        <tr>
            <td>
                <strong><a href="{{ path('page_show', { 'id': post.id }) }}">{{ post.postTitle }}</a></strong>
                <div>
                    <a href="{{ path('admin_page_edit', { 'id': post.id }) }}">edit</a>
                    <a href="{{ path('admin_page_delete', { 'id': post.id }) }}">delete</a>
                </div>
            </td>
            <td>Donovan</td>
            <td>
                {% if post.postDate %}
                    {{ post.postDate|date('d/m/Y') }}
                    <br />
                    {{ post.postStatus }}
                {% elseif post.postModified %}
                    {{ post.postModified|date('d/m/Y') }}
                    <br />
                    Last modified
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th><a href="#">{{ 'post.title'|trans }}</a></th>
            <th><a href="#">{{ 'post.author'|trans }}</a></th>
            <th><a href="#">Date</a></th>
        </tr>
    </tfoot>
</table>

{% else %}
    There are no pages, to create a new page, click on the "new" button.
{% endif %}

{% endblock content %}
